<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>OAProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ContacterServlet</display-name>
    <servlet-name>ContacterServlet</servlet-name>
    <servlet-class>com.gs.servlet.ContacterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContacterServlet</servlet-name>
    <url-pattern>/ContacterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NoticeServlet</display-name>
    <servlet-name>NoticeServlet</servlet-name>
    <servlet-class>com.gs.servlet.NoticeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NoticeServlet</servlet-name>
    <url-pattern>/NoticeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MeetingNoticeServlet</display-name>
    <servlet-name>MeetingNoticeServlet</servlet-name>
    <servlet-class>com.gs.servlet.MeetingNoticeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MeetingNoticeServlet</servlet-name>
    <url-pattern>/MeetingNoticeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.gs.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MessageServlet</display-name>
    <servlet-name>MessageServlet</servlet-name>
    <servlet-class>com.gs.servlet.MessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageServlet</servlet-name>
    <url-pattern>/MessageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndexServlet</display-name>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>com.gs.servlet.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/IndexServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JoblogServlet</servlet-name>
    <servlet-class>com.gs.servlet.JoblogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JoblogServlet</servlet-name>
    <url-pattern>/JoblogServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ScheduleServlet</servlet-name>
    <servlet-class>com.gs.servlet.ScheduleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScheduleServlet</servlet-name>
    <url-pattern>/ScheduleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Deptservlet</servlet-name>
    <servlet-class>com.gs.servlet.Deptservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deptservlet</servlet-name>
    <url-pattern>/DeptServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SalaryServlet</servlet-name>
    <servlet-class>com.gs.servlet.SalaryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SalaryServlet</servlet-name>
    <url-pattern>/SalaryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.gs.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FileServlet</servlet-name>
    <servlet-class>com.gs.servlet.FileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileServlet</servlet-name>
    <url-pattern>/FileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SecondaryMenuServlet</display-name>
    <servlet-name>SecondaryMenuServlet</servlet-name>
    <servlet-class>com.gs.servlet.SecondaryMenuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecondaryMenuServlet</servlet-name>
    <url-pattern>/SecondaryMenuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>CheckServlet</servlet-name>
    <servlet-class>com.gs.servlet.CheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckServlet</servlet-name>
    <url-pattern>/CheckServlet</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>HelloServlet</display-name>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>com.gs.servlet.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/HelloServlet</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <servlet-name>AlertPasswordServlet</servlet-name>
    <servlet-class>com.gs.servlet.AlertPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlertPasswordServlet</servlet-name>
    <url-pattern>/AlertPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>ExitServlet</servlet-name>
    <servlet-class>com.gs.servlet.ExitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExitServlet</servlet-name>
    <url-pattern>/ExitServlet</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <servlet-name>ReturnServlet</servlet-name>
    <servlet-class>com.gs.servlet.ReturnServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReturnServlet</servlet-name>
    <url-pattern>/ReturnServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>LoginUrlFilter</display-name>
    <filter-name>LoginUrlFilter</filter-name>
    <filter-class>com.gs.filter.LoginUrlFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginUrlFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>PowerFilter</display-name>
    <filter-name>PowerFilter</filter-name>
    <filter-class>com.gs.filter.PowerFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>PowerFilter</filter-name>
    <url-pattern>/UserServlet</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>PowerFilter</filter-name>
    <url-pattern>/DeptServlet</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>PowerFilter</filter-name>
    <url-pattern>/SalaryServlet</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>PowerFilter</filter-name>
    <url-pattern>/NoticeServlet</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>PowerFilter</filter-name>
    <url-pattern>/MeetingNoticeServlet</url-pattern>
  </filter-mapping>

</web-app>